.aboutWrapper {
    position: relative;
    /*min-height: 100vh;*/
}

.aboutSubTitle {
    color: #fff
}

.aboutContent {
    scroll-snap-align: start;
    position: relative;
    padding: 0 10vw 0 10vw;
    text-shadow: 0 3px 15px rgba(33, 38, 27, .20);
}

.aboutContent p {
    font-size: 1rem;
    text-align: justify;
}

.aboutContent p span {
    font-weight: normal;
}

.aboutSocial {
    color: #fff;
    bottom: 5vh;
}

.aboutSocial svg {
    /*height: 35px;*/
    margin-right: 12px;
    /*margin-bottom: 15px;*/
}

.aboutTitle {
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 35px;
    margin-top: 0;
    color: #FFFFFF;
}

@media (min-width: 480px) {
}

@media (min-width: 968px) {
    .aboutTitle {
        font-size: 3rem;
    }

    .aboutSubTitle {
        font-size: 1.2rem;
    }

    .aboutContent {
        padding-bottom: 10vh;
    }
}