.aboutWrapper {
    position: relative;
    min-height: 100vh;
    /*background: linear-gradient(0deg, rgba(234,239,245,1) 0%, rgb(158, 171, 196) 94%, rgba(255,255,255, 0) 100%);*/
    margin-top: -10vh;
    /*bottom: 0;*/
    /*margin-top: -10vh!important;*/
}

.aboutSubTitle {
    color: #fff
}

.aboutContent {
    scroll-snap-align: start!important;
    position: relative;
    top: 60px;
    padding: 40px 10vw 120px 10vw;
    text-shadow: 0 3px 15px rgba(33, 38, 27, .20);
}

.aboutContent p {
    font-size: 1rem;
    text-align: justify;
}

.aboutContent p span {
    font-weight: normal;
    /*margin-right: 50%;*/
}

.aboutSocial {
    /*margin-top: 125px;*/
    color: #fff;
    bottom: 5vh;
}

.aboutSocial img {
    height: 35px;
    margin-right: 4px;
    /*margin-bottom: 15px;*/
}

.aboutTitle {
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 35px;
    color: #FFFFFF;
}

@media (min-width: 480px) {
}

@media (min-width: 968px) {
    .aboutTitle {
        font-size: 3rem;
    }

    .aboutSubTitle {
        font-size: 1.2rem;
    }
}