.homeWrapper {
    height: 100vh;
    scroll-snap-align: start;
}

.homeBg {
    background-color: #202228;
    width: 200vw;
    height: 150vh;
    box-shadow: none!important;
}

.titleWrapper {
    position: absolute;
    top: 30vh;
    left: 10vw;
    max-width: 85vw;
    filter: drop-shadow(0px 3px 6px rgba(33, 38, 27, 0.2));
    color: #FFFFFF;
    z-index: 10;
}