.homeWrapper {
    /*overflow: hidden;*/
    min-height: 100vh;
    scroll-snap-align: start!important;
}

.homeBg {
    background-color: #202228;
    width: 150vw;
    height: 150vh;
    transform: rotateZ(-10deg) translate(-50vw, -100vh);
    box-shadow: none!important;
}

.titleWrapper {
    position: absolute;
    top: 30vh;
    left: 10vw;
    max-width: 85vw;
    /*right: 5vw;*/
    /*text-align: right;*/
    filter: drop-shadow(0px 3px 6px rgba(33, 38, 27, 0.2));
    color: #FFFFFF;
}

.titleHello {
    font-weight: lighter;
    font-size: 34px;
    line-height: 45px;
}

.titleIm, .titleDawid {
}

.titleIm {
    font-weight: normal;
    font-size: 65px;
}

.titleDawid {
    font-weight: bold;
    font-size: 65px;
}

.titleIntro {
    color: #8A94A7;
    margin-bottom: 2rem;
}