.titleWrapper {
    position: absolute;
    top: 30vh;
    right: 5vw;
    text-align: right;
    color: #21261b;
    filter: drop-shadow(0px 3px 6px rgba(33, 38, 27, 0.2));
}

.titleHello {
    font-weight: lighter;
    font-size: 34px;
}

.titleIm {
    font-weight: normal;
    font-size: 65px;
}

.titleDawid {
    font-weight: bold;
    font-size: 65px;
}