.sidebarOverlay {
    background: linear-gradient(to right, rgba(29, 32, 38, .8), rgba(29, 32, 38, .8));
    /* // must be gradient to override react-sidebar style */
}

.sidebarOverlay::before {
    content: ' ';
    position: absolute;
    background-color: #202228;
    top: -100px;
    left: -100px;
    width: 400px;
    height: 150vh;
    transform: rotateZ(10deg);
}

.sidebarContent {
    position: fixed!important;
    top: 70px!important;
    left: -10px!important;
}

.sidebarUl {
    list-style-type: none;
}

.sidebarUl a {
    text-decoration: none;
    color: #fff!important;
    font-size: 28px;
    font-weight: lighter;
    line-height: 50px;
}

.sidebarSocialsWrapper {
    position: fixed;
    left: 40px;
    width: 100px;
    /*bottom: 30px!important;*/
}

.sidebarSocialsWrapper img:first-of-type {
    margin-right: 10%;
}

.sidebarSocialsWrapper img {
    width: 2.5rem;
}