.sidebarOverlay {
    background: linear-gradient(to right, rgba(29, 32, 38, .8), rgba(29, 32, 38, .8));
    z-index: 25!important;
}

.sidebarOverlay + div {
    overflow-y: visible!important; /* hotfix for not opening hamburger in iOS Safari */
}

.sidebarOverlay::before {
    content: ' ';
    position: absolute;
    background-color: #202228;
    top: -100px;
    left: -100px;
    width: 400px;
    height: 150vh;
    transform: rotateZ(10deg);
}

.sidebarContent {
    z-index: 26!important;
    position: fixed!important;
    top: 70px!important;
    left: -10px!important;
}

.sidebarUl {
    list-style-type: none;
}

.sidebarUl p {
    transition: color 100ms ease-in-out;
    text-decoration: none;
    color: #fff!important;
    font-size: 28px;
    font-weight: lighter;
    line-height: 50px;
    cursor: pointer;
    margin: 0;
    padding: 1rem 0 1rem 0;
}

.sidebarUl p:hover {
    color: #3889F1!important;
}

.sidebarSocialsWrapper {
    position: fixed;
    left: 40px;
    width: 100px;
    /*bottom: 30px!important;*/
}

.sidebarSocialsWrapper svg:first-of-type {
    margin-right: 10%;
}

.sidebarSocialsWrapper svg {
    width: 2.5rem;
}

.hamburgerWrapper {
    z-index: 100;
    width: 90px;
    height: 80px;
    position: fixed;
    cursor: pointer;
}

.hamburgerWrapper:hover span {
    background-color: #3889F1!important;
}