@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html {
  /*-webkit-overflow-scrolling: touch; !* smooth scroll on safari *!*/
}


body {
  background-color: #1D2026;
  color: #8A94A7;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;  /* because chrome seems not to recignise font family */
  font-weight: lighter;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
very light (thin) hr
 */

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  margin-left: 0;
}

/*
button styles
*/

button {
  font-family: inherit; /* because chrome seems not to recignise font family */
  border: none;
  cursor: pointer;
  padding: 16px 31px;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  box-shadow: 0 3px 15px rgba(33, 38, 27, .10);
  transition: background-color 150ms ease-in-out;
}

button:hover {
  box-shadow: 0 3px 15px rgba(33, 38, 27, .15);
}

button:focus {
  outline: none;
}

.btnLight {
  background-color: #3889F1;
  color: #FFF!important;
}

.btnDark {
  background-color: #242830;
  color: #FFF!important;
}

/**/

.container {
  overflow: hidden;
  /*TODO: scroll-snap fix - to be cross-browser*/
  /*height: 200vh;*/
  /*position: relative;*/
  /*overflow-y: scroll;*/
  /*scroll-snap-type: y mandatory;*/
  /*-webkit-scroll-snap-type: y mandatory;*/
}

/*.container > div {*/
/*  scroll-snap-align: start!important;*/
/*}*/

