@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;  /* because chrome seems not to recignise font family */
  font-weight: lighter;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
very light (thin) hr
 */

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  margin-left: 0;
}

/*
button styles
*/

button {
  font-family: inherit; /* because chrome seems not to recignise font family */
  border-radius: 28px;
  border: none;
  cursor: pointer;
  padding: 16px 31px;
  font-size: 28px;
  font-weight: 200;
  text-decoration: none;
  box-shadow: 0 3px 15px rgba(33, 38, 27, .10);
  transition: background-color 150ms ease-in-out;
}

button:hover {
  box-shadow: 0 3px 15px rgba(33, 38, 27, .15);
}

button:focus {
  outline: none;
}

.btnLight {
  background-color: #F4F4F4;
  color: #7395BB;
}

.btnLight:hover {
  background-color: #e8e8e8;
}

.btnDark {
  background-color: #7395BB;
  color: #FFF;
}

.btnDark:hover {
  background-color: #587da0;
}

