.workWrapper {
    margin-top: -40vh;
    padding: 0 10vw 10vh 25vw;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* smooth scroll on safari */
    scroll-snap-type: x mandatory; /* snap points */
    scroll-snap-align: start;
    -ms-overflow-style: none;  /* IE and Edge */
    scroll-behavior: smooth;
}

.workWrapper::-webkit-scrollbar {
    display: none;
}