.wrapper {
    padding: 0 10vw 10vh 10vw;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* smooth scroll on safari */
    scroll-snap-type: x mandatory; /* snap points */
    scroll-snap-align: start;
    -ms-overflow-style: none;  /* IE and Edge */
    scroll-behavior: smooth;

    &::-webkit-scrollbar {display: none;}
}

@media (min-width: 968px) {
    .wrapper {margin-top: -40vh;}
}